body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
    margin-top: 90px;
    margin-bottom: 60px;
    background-color: azure;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 64px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color:  rgb(119, 119, 119);
    text-decoration: none;
}

main {
    padding: 2rem;
}

#hero {
    text-align: center;
    padding: 2rem 0;
}

#hero .btn {
    background: #0066cc;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

#skills, #about-me, #latest-projects {
    margin-bottom: 2rem;
}

.skills-container, .projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill, .project {
    flex: 1 1 30%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.row-col {
    flex: 1 1 30%;
    margin: 1rem;
    padding: 1rem;
}

.row-col img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.skill h3, .project h3 {
    margin-top: 0;
}

.project .btn {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button {
    background-color: #111111;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.active {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:hover {
    background-color: rgb(86, 128, 74);
  }

  h1 {
    font-size: 40px;
  }

  .button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #row {
        flex-direction: column;
    }

    .row-col {
        margin: 0 0 20px 0;
    }
}